.container{
    display: block;
    width: 100%;
    max-width: 200px;
    margin: 0 auto;
    margin-top: 20px;
}
.card{
    display: block;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 30%;
}

.card img {
    width: 100%;
}

.card:hover {
    box-shadow: 0 8px 16px 9 rgba(0, 0, 0, 0.2);
}

.body{
    padding: 2px 16px;
}

.body button {
    display: flex;
    border: none;
    background-color: coral;
}